<form class="{{cssClass}} flexcol" autocomplete="off">
  <header class="sheet-header flexrow">
    <img class="profile" src="{{item.img}}" data-edit="img" title="{{item.name}}" />

    <div class="header-details flexrow">
      <h1 class="charname">
        <input name="name" type="text" value="{{item.name}}" placeholder="Item Name" />
      </h1>
      <div class="item-subtitle">
        <h4 class="item-type">{{localize "MTA.Condition"}}</h4>
        <span class="item-status"></span>
      </div>
      <ul class="summary">
        <li>
          <label> Persistent </label>
          <label class="checkBox">
            <input data-dtype="Boolean" name="system.isPersistent" type="checkbox" {{checked system.isPersistent}}>
            <span></span>
          </label>
        </li>
        <li>
          <label> Status icon visibility </label>
          <label class="checkBox">
            <select name="system.statusVisibility">
              {{#select system.statusVisibility}}
                <option value="None">None</option>
                <option value="Owner">Owner only</option>
                <option value="All">All</option>
              {{/select}}
            </select>
            <span></span>
          </label>
        </li>
        {{#if isChangeling}}
        <li>
          <label> Clarity </label>
          <label class="checkBox">
            <input data-dtype="Boolean" name="system.isClarity" type="checkbox" {{checked system.isClarity}}>
            <span></span>
          </label>
        </li>
        {{/if}}
      </ul>
    </div>
  </header>
  <div class="gold-border"> </div>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs">
    <a class="item" data-tab="description">Description</a>
    <a class="item" data-tab="effects">Effects</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Description Tab --}}
    <div class="tab" data-tab="description">
      {{editor system.description target="system.description" button=true owner=owner editable=editable}}
    </div>

    {{!-- Effects Tab --}}
    <div class="tab" data-tab="effects">
      <div class="item-stat-block">
        <div class="form-line">
          <label> Active </label>
          <label class="checkBox">
            <input data-dtype="Boolean" name="system.effectsActive" type="checkbox" {{checked system.effectsActive}}>
            <span></span>
          </label>
        </div>

        <div class="form-line attributeList">
          <label> Effects </label>
          <span class="stoneButton effectAdd">+</span>
          {{#each system.effects}}
          <span>
            <select name="system.effects.{{@index}}.name">
              {{#select name}}
              <optgroup label="Attributes">
                {{#each ../config.attributes_physical}}
                <option value="attributes_physical.{{@key}}">{{this}}</option>
                {{/each}}
                {{#each ../config.attributes_social}}
                <option value="attributes_social.{{@key}}">{{this}}</option>
                {{/each}}
                {{#each ../config.attributes_mental}}
                <option value="attributes_mental.{{@key}}">{{this}}</option>
                {{/each}}
              </optgroup>
              <optgroup label="Skills">
                {{#each ../config.skills_physical}}
                <option value="skills_physical.{{@key}}">{{this}}</option>
                {{/each}}
                {{#each ../config.skills_social}}
                <option value="skills_social.{{@key}}">{{this}}</option>
                {{/each}}
                {{#each ../config.skills_mental}}
                <option value="skills_mental.{{@key}}">{{this}}</option>
                {{/each}}
              </optgroup>
              <optgroup label="Traits">
                {{#each ../config.derivedTraits}}
                <option value="derivedTraits.{{@key}}">{{this}}</option>
                {{/each}}
              </optgroup>
              <optgroup label="Dream Traits">
                {{#each ../config.attributes_physical_dream}}
                <option value="attributes_physical_dream.{{@key}}">{{this}}</option>
                {{/each}}
                {{#each ../config.attributes_social_dream}}
                <option value="attributes_social_dream.{{@key}}">{{this}}</option>
                {{/each}}
                {{#each ../config.attributes_mental_dream}}
                <option value="attributes_mental_dream.{{@key}}">{{this}}</option>
                {{/each}}
              </optgroup>
              <optgroup label="Ephemeral Traits">
                {{#each ../config.eph_physical}}
                <option value="eph_physical.{{@key}}">{{this}}</option>
                {{/each}}
                {{#each ../config.eph_social}}
                <option value="eph_social.{{@key}}">{{this}}</option>
                {{/each}}
                {{#each ../config.eph_mental}}
                <option value="eph_mental.{{@key}}">{{this}}</option>
                {{/each}}
              </optgroup>
              {{/select}}
            </select>
            <input name="system.effects.{{@index}}.value" type="number" data-dtype="Number" value="{{value}}" />
            <label class="checkBox overFive" title="Can increase traits above five (or splat-specific power trait maximum)?">
              <input data-dtype="Boolean" name="system.effects.{{@index}}.overFive" type="checkbox" {{checked overFive}}>
              <span></span>
            </label>
          </span>
          <span class="stoneButton effectRemove" data-index={{@index}}>-</span>
          {{/each}}
        </div>
      </div>
    </div>
  </section>
</form>
