<form class="{{cssClass}} flexcol" autocomplete="off">
  <header class="sheet-header flexrow">
    <img class="profile" src="{{item.img}}" data-edit="img" title="{{item.name}}" />

    <div class="header-details flexrow">
      <h1 class="charname">
        <input name="name" type="text" value="{{item.name}}" placeholder="Item Name" />
      </h1>
      <div class="item-subtitle">
        <h4 class="item-type">{{localize "MTA.Pact"}}</h4>
        <span class="item-status"></span>
      </div>
      <ul class="summary">
        <li>
          <label>{{localize "MTA.Duration"}}</label> 
          <input name="system.duration" type="text" value="{{system.duration}}" data-koptions="Day/Week/Month/Year/Permanent"/>
        </li>
      </ul>
    </div>
  </header>
  <div class="gold-border"> </div>
  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs">
    <a class="item" data-tab="traits">Traits</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Description Tab --}}
    <div class="tab" data-tab="traits">
      <div class="item-stat-block">
        <div class="form-line">
          <label>{{localize "MTA.DemonAspectPoints"}}</label> <input name="system.demon_aspectPoints" type="number" data-dtype="Number" value="{{system.demon_aspectPoints}}" />
        </div>
        <div class="form-line">
          <label>{{localize "MTA.HumanAspectPoints"}}</label> <input name="system.human_aspectPoints" type="number" data-dtype="Number" value="{{system.human_aspectPoints}}" />
        </div>
      </div>
      {{editor system.description target="system.description" button=true owner=owner editable=editable}}
    </div>
  </section>
</form>